In [1]:
import pandas as pd

In [2]:
df1= pd.read_excel("Demand Data.xlsx", sheet_name="SalesHistory201609")

In [3]:
df2= pd.read_excel("Demand Data.xlsx", sheet_name="SalesHistory201610")

In [4]:
df3= pd.read_excel("Demand Data.xlsx", sheet_name="SalesHistory201611")

In [5]:
df4= pd.read_excel("Demand Data.xlsx", sheet_name="SalesHistory201612")

In [6]:
df5= pd.read_excel("Demand Data.xlsx", sheet_name="SalesHistory201701")

In [7]:
df6= pd.read_excel("Demand Data.xlsx", sheet_name="SalesHistory201702")

In [8]:
df7= pd.read_excel("Demand Data.xlsx", sheet_name="SalesHistory201703")

In [9]:
df8= pd.read_excel("Demand Data.xlsx", sheet_name="SalesHistory201704")

In [10]:
df9= pd.read_excel("Demand Data.xlsx", sheet_name="SalesHistory201705")

In [11]:
df10= pd.read_excel("Demand Data.xlsx", sheet_name="SalesHistory201706")

In [12]:
df11= pd.read_excel("Demand Data.xlsx", sheet_name="SalesHistory201707")

In [13]:
df12= pd.read_excel("Demand Data.xlsx", sheet_name="SalesHistory201708")

In [19]:
df_prod_master= pd.read_excel("Demand Data.xlsx", sheet_name="ProductMaster")

In [20]:
df_loc_master= pd.read_excel("Demand Data.xlsx", sheet_name="LocationMaster")

In [21]:
df_cust_master= pd.read_excel("Demand Data.xlsx", sheet_name="CustomerMaster")

### Appending all the sales sheets into one dataframe

In [14]:
#creating lists of all sheets
sales_df = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12]

In [15]:
#appending all sheets into one DataFrame
append_df= pd.concat(sales_df)

In [22]:
append_df.shape

(277010, 13)

In [24]:
append_df.head()

,Facility_Code,Customer_Code,Material_Code,Order_No,Order_Date,Delivery_No,Order_Ship_Date,Delivery_Date,Ship_Mode,Billed_Quantity,Sales,Profit,MonthYear
0,CDC02,Cus0001851,PR002681,ORD00000001,2016-09-02,DEL00000001,2016-09-02,2016-10-15,Same Day,40,105565.555452,-24280.077754,201609
1,CDC02,Cus0001514,PR008406,ORD00000002,2016-08-19,DEL00000002,2016-09-03,2016-09-21,Same Day,28,575706.929017,224525.702317,201609
2,CDC02,Cus0001181,PR001946,ORD00000003,2016-08-30,DEL00000003,2016-09-06,2016-09-06,Same Day,30,14423.376844,-5336.649432,201609
3,CDC02,Cus0001004,PR006100,ORD00000004,2016-09-04,DEL00000004,2016-09-06,2016-10-10,Standard Class,1,3980.677328,-1433.043838,201609
4,CDC02,Cus0000397,PR005161,ORD00000005,2016-08-10,DEL00000005,2016-09-06,2016-10-06,First Class,13,74645.846902,-12689.793973,201609

## Joining

In [25]:
df_pm = pd.merge(append_df, df_prod_master, on='Material_Code', how='inner')

In [26]:
df_pm.shape

(277010, 19)

In [27]:
df_pm_lm = pd.merge(df_pm, df_loc_master, on='Facility_Code', how='inner')

In [28]:
df_pm_lm.shape

(277010, 22)

In [29]:
df_final = pd.merge(df_pm_lm, df_cust_master, on='Customer_Code', how='inner')

In [31]:
df_final.describe()

,Billed_Quantity,Sales,Profit,MonthYear,Gross_Weight,Net_Weight,PostalCode
count,277010.000000,2.770100e+05,2.770100e+05,277010.000000,2.770100e+05,277010.000000,277010.000000
mean,35.930078,1.327553e+04,1.352884e+03,201667.817461,2.417496e+03,1757.576298,459275.648803
std,71.360021,7.208860e+04,2.692894e+04,45.828990,3.005400e+04,9039.474429,169538.810677
min,1.000000,-7.692235e+05,-3.463078e+06,201609.000000,0.000000e+00,0.000000,110002.000000
25%,9.000000,6.226587e+02,-2.492367e+02,201611.000000,1.090000e+00,1.000000,390021.000000
50%,25.000000,2.032342e+03,5.770376e+01,201702.000000,5.000000e+02,405.000000,442001.000000
75%,44.000000,7.039263e+03,8.177714e+02,201705.000000,7.080000e+02,535.000000,560100.000000
max,5113.000000,7.528430e+06,2.829114e+06,201708.000000,2.155500e+06,300000.000000,844101.000000

In [33]:
df_final.to_csv("Sales_Summary.csv", index=False)